/*
Author: João Paulo da Silveira :D
cores site : #9e0829 vermelho
fonte titulo : #2d2d2d cinza
bg cinza: #f4f4f4 cinza claro
fonts site

MontSerrat

 */
body{
    font-family: 'Open Sans', sans-serif;
    color: #2d2d2d;
    padding-top: 125px;
}
.bg-branco{
    background-color: #fff;
    border-radius: 5px;

}

.bg-cinza{
    background-color: #f4f4f4;
}
.fontTitulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8rem;
    color: #2d2d2d;
    line-height: 63px;
}
.fontSub{
    font-weight: bold;
    font-size: 26px;
}

/* form formulario geral */
.form-geral input, .form-geral textarea{
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.form-geral .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #9E0829;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158,8,41,.25);
}
/* css header */
.navbar-brand img{
    margin-bottom: 10px;
}
    /* css menu nav */
#mainNav{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    background-color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #9e0829;
    text-transform: none;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover{
    border-bottom: 1px solid #9e0829;
    transition: .1s;
    color: #9e0829;
}

.menu-selecao-idioma {
     display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0px;
    top: 0px;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


.menu-selecao-idioma>div {
    position: absolute;
    width: 250px;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 99999;
    background-color: rgb(30, 30, 30);
    color: white;
    /* display: none; */
    float: left;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.menu-selecao-idioma>div>div {
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    width: 100%;
}

.languageSelect  > h3:last-child {
    position: relative;
    width: 80%;
    float: left;
    left: 0px;
    top: 0px;
    color: white;
    padding: 5%;
    text-align: right;
    margin: 0px;
    font-size: 15px;
}

.languageSelect{
    cursor: pointer;
}

.languageSelect:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.menu-selecao-idioma .languageSelect h3:first-child {
    position: relative;
    width: 20%;
    float: left;
    left: 0px;
    top: 0px;
    color: white;
    padding: 5%;
    text-align: center;
    margin: 0px;
    font-size: 20px;
}



.seleciona-idioma{
    position: absolute;
    right: 24px;

}

.seleciona-idioma img{
    width: 43px;
    height: 26px;
    cursor: pointer;
}


/* fim css header */

/* css slider */

.area-slider{
    height: 860px;
    position: relative;

    transition: height .5s;
}

.bg-image-slider{
    position: relative;
    height: 660px;
    background-position: 100% 0px;
    background-size: cover;
}
.owl-nav{
    display: block!important;
}
.owl-prev, .owl-next {
    display: inline-block;
    position: absolute;
    top: -25%;
    bottom: 0;
    width: 60px;
    height: 60px;
    font-size: 60px;
    line-height: 60px;

    color: #FFF;

    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: auto;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 1;
}
.owl-prev:hover, .owl-next:hover{
    color: #9e0829;
}
.owl-prev {
    left: 50px;
}

.owl-next {
    right: 50px;
}


.area-slider .item  {
    position: relative;
    height: 860px;

}
.item .meta {
    position: absolute;
    bottom: -139px;
    left: 0;
    right: 0;
    margin: auto;
    color: #2d2d2d;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
    text-align: center;
}

.flexslider li h1 {
    background: rgba(51, 51, 51, 0.5);
    padding: 12px 18px 12px;
    margin-bottom: 0;
    font-size: 1.8em;
    font-weight: 300;
}


.item .meta h1{
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    font-size: 4rem;
}

.area-slider .owl-item.active .meta h1{
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}


@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}




/* css sobre */


.fontTituloSobre{
    color: #fff;
    margin-bottom: 98px;
}
#sobre,#clientes,#footer{
    background-color: #9e0829;
}


#sobre-texto .container{
    max-width: 725px;
}

#sobre-texto p{
    font-size: 20px;
}

/*

fim css sobre

 */

/*

inicio css portfolio

 */

#portfolio{
    background-image: url(../img/bg-portfolio.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    min-height: 674px;
    height: 100%;
    position: relative;
}



#portfolio .bg-branco{
    padding: 78px;
    margin-top: 63px;
}
#portfolio .left-col h1{
    margin-bottom: 20px;
}
#portfolio .left-col p{
    padding-right: 59px;
}

#portfolio .right-col h3{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 18px;
}

#portfolio .right-col h3:first-child{
    margin-top: 33px;
}

.section-porfolio-geral{
    position: relative;
    padding: 3rem 0;
}
.box-imagem .img-fluid{
    max-width: 90%;
}

.leia-mais{
    margin-top: 44px;
}
.leia-mais span{
    color: #8cc6db;
    margin-left: 20px;
    font-size: 20px;
}
.bg-cinza .box-texto{
    padding: 32px;
}
.bg-cinza .no-padding{
    padding: 0;
}
.box-texto{
    margin-top: 12px;
}

.box-texto p:first-child{
    margin-top: 2rem;
}

.bg-cinza .box-imagem .img-fluid{
    max-width: 100%;
}


/*

fim css cliente

 */

/*
/*

inicio css cliente

 */

#clientes{
    color: #fff;
    padding: 5rem 0;
    position: relative;
}

#clientes h1{
    color: #fff;
    margin-bottom: 3rem;
}

.box-texto-cliente p{
    max-width: 520px;
    font-size: 20px;
    margin-bottom: 5rem;
}
.owl-carousel .owl-dots {
    display: block!important;
    bottom: -12px!important;
}

.owl-nav{
    display: none;
}
#clientes .owl-carousel .owl-dots{
    bottom: -54px!important;
}
#clientes .mb-20{
    margin-bottom: 20px;
}
.owl-carousel .owl-dots {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 3;
    display: none;
}

.owl-carousel .owl-dots .owl-dot.active {
    opacity: 1;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.owl-carousel .owl-dots .owl-dot {
    width: 14px;
    height: 15px;
    opacity: .5;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    background: #fff;
}


/*

fim css cliente

 */

/*


/*

inicio css contato

 */
.area-form-texto h1{
    margin-bottom: 2rem;
    font-size: 5rem;
    line-height: 71px;
}

.area-form-texto p, .area-form-texto span{
    font-size: 20px;
}

.area-form-texto{
    padding: 30px 30px 30px 30px;
}

/*

fim css contato

 */

/*

inicio css footer

 */

#footer{
    color: #fff;
}

.logo-rodape img{
    margin-right: 113px;
}
#footer .list-inline-item:not(:last-child) {
    margin-right: 1.9rem;
}
.nav-rodape{
    margin-top: 8px;
}
.nav-rodape li a{
    color: #fff;
    font-size: 23px;
}
#footer .container{
    max-width: 800px;
}
.container-rodape{
    padding: 75px 0;
    max-width: 700px;
}
.footer-final p{
    font-size: 14px;
    color: #9e0829;
    margin-top: 36px;
    margin-bottom: 36px;
}

.hide-no-res{
    display: none;
}

/* media queries */

@media only screen and (max-width: 1024px) {
    /* css header */
    #mainNav .navbar-nav {
        margin-right: 53px;
    }
    .bg-image-slider{
        height: 433px;
    }
    .area-slider,.area-slider .item{
        height: 585px;
    }
    .item .meta {
        bottom: -114px;
    }
    .item .meta h1{
        font-size: 3rem;
    }
    .owl-next {
        right: 16px;
    }
}
@media only screen and (max-width: 928px) {
    /* css header */

    .item .meta {
        bottom: -107px;
    }
    #mainNav .navbar-nav {
        margin-right: 0;
    }
    #mainNav .bg-primary{
        background-color: #9e0829!important;
    }
    .navbar-brand img{
        margin-bottom: 0;
    }
    #mainNav .navbar-toggler {
        z-index: 20;
        margin-top: 2px;
        position: relative;
       
    }
    .hide-res{
        display: none;
    }

    .hide-no-res{
        display: block;
    }

    .seleciona-idioma {

        position: relative;
        right: 0;
        margin: auto;
    }
    .seleciona-idioma img {
        width: 52px;
        height: 73px;

        margin-top: 5px;
    }



    body{
        padding-top: 90px;
    }
    /* css slider  */

    .item .meta h1 {
        font-size: 2.3rem;
    }

    .area-slider, .area-slider .item {
        height: 549px;
    }

    .item .meta {
        bottom: -90px;
    }


    /* media css porfolio */
    #portfolio .left-col h1{
        font-size: 3rem;
    }
    #portfolio .bg-branco{
        padding: 48px;
    }
    #portfolio .left-col p{
        padding-right: 24px;
        font-size: .9rem;
    }

    .box-imagem .img-fluid {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .box-texto h1{
        font-size: 3rem;
    }

    .box-imagem{
        margin-bottom: 36px;
    }



    /* fim media css porfolio */

    /*  media css contato */
    .area-form-texto{
        padding: 0;
    }
    .area-form-texto h1{
        font-size: 3.8rem;
        margin-top: 28px;
        margin-bottom: 0;
    }
    .area-form-texto p, .area-form-texto span{
        font-size: 1.2rem;
    }
    /* fim media css contato */





}
@media only screen and (max-width: 425px) {

    /* css header */

    .seleciona-idioma {

        position: relative;
        right: 0;
        margin: auto;
    }
    #mainNav .navbar-toggler{
        right: 0;
    }

    .navbar-brand img{
        width: 118px;
    }



    /* media css sobre nos */

    #sobre .img-fluid{
        width: 50%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .owl-nav{
        display:none!important;
    }

    .item .meta {
        bottom: -107px;
    }
    .fontTituloSobre{
        margin-bottom: 28px;
        font-size: 3.4rem;
    }

    #sobre-texto p{
        font-size: 1rem;
    }
    #portfolio .left-col p{
        padding-right: 0;
        font-size: 1rem;
    }

    /* fim media css sobre nos */

    /* media css porfolio */

    #portfolio .bg-branco{
        margin-top: 0;
    }

    #portfolio .right-col h3{
        font-size: 1.1rem;

        border-bottom: 1px solid #c29898;
        padding-bottom: 10px;
    }

    #portfolio .container{
        width: 90%;
    }
    .box-imagem{
        margin-bottom: 0;
    }
    .box-imagem .img-fluid {
        max-width: 100%;
    }

    /* fim media css porfolio */

    /*  media css contato */
    .area-form-texto h1{
        margin-top: 0;
        line-height: 60px;
    }

    .area-form-texto p, .area-form-texto span{
        margin-top: 10px;
        font-size: 1rem;
    }

    #contato .row{
        flex-wrap: wrap-reverse;
    }
    .area-form-texto {
        margin-bottom: 21px;
    }

    /* fim media css contato */

    /* media css footer */
    .container-rodape{
        padding: 29px 0;
    }
    .logo-rodape img{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }
    .nav-rodape li a {

        font-size: 1.4rem;
    }
    #footer .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
    }
    #footer .list-inline{
        text-align: center;
    }
}

@media only screen and (max-width: 390px) {
    .box-texto h1 {
        font-size: 2.4rem;
        line-height: 40px;
    }
    .bg-cinza .box-texto{
        padding: 0;
    }
    .nav-rodape li a {
        font-size: 1.2rem;
    }
}